body {
text-align: center;
font-family:'Georgica', arial, helvetica;
transition: background 0.5s;
}

button {
    padding: 10 px 20 px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background: lightgreen;
    color:darkorchid;
    border-radius: 10 px;

}

button:hover {
    background: darkgreen;
}